* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    background: linear-gradient(0deg, #005b9f 39%, #d5e3ef 90%);
}
body:before {
    content: "";
    background-image: url(../img/backgroud-shape.svg);
}
p {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1180px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    min-height: 100vh;
}
header {
    min-height: 200px;
    display: flex;
    flex-direction: row;
}
header .logo {
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 209px;
    height: 148px;
    display: block;
}
header .logo:after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: #fff;
    border-right: 1px solid #000;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
header .subheader {
    font-size: 50px;
    color: #005b9f;
    text-shadow: 0px 2px 4px rgba(0,64,111,0.1);
}
main {
    min-height: 320px;
    background: #fff;
    border-radius: 22px;
    box-shadow: 0px 8px 26px rgba(0, 63, 111, 0.15);
}
footer {
    margin-top: auto;
}